@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Reset defaults and define custom breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 32.5rem;
  --breakpoint-md: 48.75rem;
  --breakpoint-lg: 72.5rem;
  --breakpoint-xl: 90rem;

  /* Reset defaults and define custom colors */
  --color-*: initial;
  --color-light: #FFFFFF;
  --color-dark: #0C0C0C;
  --color-night: #000000;
  --color-darkblur: #0009;
  --color-red-200: #F9DBDB;
  --color-red-400: #900909;
  --color-grey-50: #9F9F9F;
  --color-grey-100: #686868;
  --color-grey-200: #272727;
  --color-grey-300: #181818;
  --color-grey-400: #151515;
  --color-grey-500: #0D0D0D;
  --color-button: rgba(255, 255, 255, 0.05);
  --color-badge-info: rgba(107, 239, 255, 0.10);
  --color-badge-plain: rgba(255, 255, 255, 0.10);
  --color-badge-fail: rgba(255, 139, 139, 0.10);
  --color-accent-100: #6BEFFF;
  --color-accent-200: #F4AFFF;
  --color-neg-200: #FF8B8B;
  --color-gradient-100: #D1E9CC;
  --color-gradient-900: #03C5DC;
  --color-transparent: transparent;
  --color-current: currentColor;

  /* Reset defaults and define custom font families */
  --font-*: initial;
  --font-interVar: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-interNormal: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-termina: "Termina", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-roboto: "Roboto", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* Reset defaults and define custom font sizes */
  --text-*: initial;
  --text-0: 0;
  --text-50: 0.5rem;
  --text-50--line-height: 0.625rem;
  --text-75: 0.6875rem;
  --text-75--line-height: 0.8125rem;
  --text-100: 0.8125rem;
  --text-100--line-height: 1rem;
  --text-200: 0.9375rem;
  --text-200--line-height: 1rem;
  --text-300: 1.0625rem;
  --text-300--line-height: 1.5rem;
  --text-400: 1.5rem;
  --text-400--line-height: 1.75rem;
  --text-500: 1.6875rem;
  --text-500--line-height: 2rem;
  --text-600: 2rem;
  --text-600--line-height: 2.5rem;
  --text-700: 2.5rem;
  --text-700--line-height: 3rem;
  --text-800: 3rem;
  --text-800--line-height: 3.5rem;
  --text-900: 3.5rem;
  --text-900--line-height: 4rem;
  --text-1000: 4.5rem;
  --text-1000--line-height: 5rem;

  /* Reset defaults and define custom border radius */
  --radius-*: initial;
  --radius-none: 0;
  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius: 1rem;
  --radius-circle: 100%;
  --radius-full: 9999px;

  /* Extend z-index */
  --z-min: -1;
  --z-1: 1;
  --z-2: 2;
  --z-100: 100;
  --z-max: 9999;
}

/* Custom utilities */
@utility clip-display {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@utility clip-hidden {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

@utility bg-gradient {
  background-image: linear-gradient(88deg, var(--color-gradient-100) 0%, var(--color-gradient-900) 100%);
}

@utility bg-link {
  background-image: linear-gradient(88deg, var(--color-gradient-100) 0%, var(--color-gradient-900) 33.333%, var(--color-gradient-100) 66.66%, var(--color-gradient-900) 100%);
}

/* Custom components */
@layer components {
  .text-gradient {
    @apply bg-gradient inline-block text-transparent bg-clip-text;
  }
  .link-gradient {
    @apply bg-link duration-[800ms] ease-in-out;
    background-size: 300% 100%;
    background-position: 0% 0%;
  }
  .link-gradient:hover {
    background-position: 100% 0%;
  }
}

/*
   FONT FAMILY GROUPS
*/

/* Inter */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("./assets/fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("./assets/fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("./assets/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("./assets/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("./assets/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("./assets/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("./assets/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("./assets/fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("./assets/fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"),
    url("./assets/fonts/inter/Inter-Black.woff?v=3.19") format("woff");
}

/* Inter var */
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("./assets/fonts/intervar/Inter.var.woff2?v=3.19") format("woff2");
}

/* Roboto */
@font-face {
  font-family: "Roboto";
  src:
    url("./assets/fonts/roboto/roboto-mono-normal.woff2") format("woff2"),
    url("./assets/fonts/roboto/roboto-mono-normal.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

/* Termina */
@font-face {
  font-family: "Termina";
  src:
    url("./assets/fonts/termina/Termina-Medium.woff2") format("woff2"),
    url("./assets/fonts/termina/Termina-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Termina";
  src:
    url("./assets/fonts/termina/Termina-Demi.woff2") format("woff2"),
    url("./assets/fonts/termina/Termina-Demi.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Termina";
  src:
    url("./assets/fonts/termina/Termina-Bold.woff2") format("woff2"),
    url("./assets/fonts/termina/Termina-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

html {
  @apply font-interNormal text-light bg-dark;
  font-feature-settings:
    "kern" on,
    "liga" on,
    "calt" on,
    "zero" on;
  -webkit-font-feature-settings:
    "kern" on,
    "liga" on,
    "calt" on,
    "zero" on;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-variant-ligatures: contextual common-ligatures;
  font-kerning: normal;
  text-rendering: optimizeLegibility;

  @supports (font-variation-settings: normal) {
    @apply font-interVar;
  }
}

.md {
  a {
    @apply underline;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: 0 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8292a2;
}
.token.punctuation {
  color: #f8f8f2;
}
.token.namespace {
  opacity: 0.7;
}
.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
  color: #f92672;
}
.token.boolean,
.token.number {
  color: #ae81ff;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #a6e22e;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: #f8f8f2;
}
.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
  color: #e6db74;
}
.token.keyword {
  color: #66d9ef;
}
.token.important,
.token.regex {
  color: #fd971f;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

.v-code-block--code {
  position: relative;
  z-index: 1;
}
.v-code-block--code-copy-button {
  align-items: center;
  color: #ccc;
  cursor: pointer;
  display: flex;
  fill: #ccc;
  height: 1.5em;
  justify-content: center;
  opacity: 0;
  position: absolute;
  right: 0.9rem;
  top: 0.7rem;
  transition: opacity 0.2s ease-in-out;
  width: auto;
  z-index: 2;
}

.v-code-block--code:hover .v-code-block--code-copy-button {
  opacity: 1;
}
.v-code-block--code-copy-button svg {
  height: 1rem;
  width: 1rem;
}
